<%= form_with model: @new_list, url: project_lists_path(params[:project_id]), data: {turbo: false} do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
