<div class="cont-<%= message.user.id %>">
  <div class="msg-<%= message.user.id %> mt-5 rounded-xl">
    <% unless message.room.is_private %>
      <h6 id="name"><%= message.user.email.split('@').first %> </h6>
    <% end %>
    <div class="markdown">
      <%= raw advanced_markdown(message.body) %>
    </div>
  </div>
</div>  
