<div class="form-group msg-form">
  <%= form_with(model: [@single_room, @message], remote: true, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
  <div class="flex gap-3">
      <%= f.text_area :body, id: 'chat-text', class: 'block w-full p-4 text-gray-900 border border-neutral-500 rounded-lg bg-neutral-400 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-96', autocomplete: 'off' %>
    <%= f.submit data: {disable_with: false}, class: 'px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
  </div>
<% end %>
</div>
