<div class="form-group msg-form">
    <%= form_with(model:[@single, @message],remote: true, class:'d-flex' do |f|)%>
    
    <%= f.text_field :body,id: 'chat-text', class:'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',autocomplete:'off'%>

    <%= f.submit data:{disable_with: false},class:'class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"'%>
</div>