<li data-sortbale-update-url="<%= task_sort_path(task) %>">
  <i>⭐️</i>
  <%= link_to task.title, edit_task_path(task) %>
  <%= link_to "X", task_path(task), data: { turbo_method: 'delete', confirm: '確定刪除待辦事項嗎?' } %>
</li>