<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>


<div class="flex items-center mb-4 gap-3 pt-3 content-center hover:bg-sky-300 <%= isActive %> ">
  <div>
    <% if user.avatar.attached? %>
      <%= link_to image_tag(user.chat_avatar, 
                            class: "w-8 h-8 rounded-full ml-3"), user %>
    <% else %>
      <%= image_tag("default_profile.png", 
                    alt: "user default photo",
                    class: "w-8 h-8 rounded-full ml-3") %>
      <% end %>
  </div>
  
  <div class="text-xl">
    <%= link_to user.email.split("@").first.split("-").reverse.map(&:capitalize).join(" "), user, data: {turbo: "false"},class: "text-xl font-medium" %>
  </div>

</div>
  