<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>


<div class="flex items-center mb-4 gap-3 pt-3 content-center hover:bg-sky-300 transition duration-500 <%= isActive %> ">
  <div class="ml-3">
    <% if user.avatar.attached? %>
      <%= link_to image_tag(user.chat_avatar, 
                            class: "w-8 h-8 rounded-full"), user %>
    <% else %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>
  
  <div class="text-xl">
    <%= link_to format_user_email(user), user_path(user, tab_type: 'single_chat'), data: {turbo: "false"},class: "text-xl font-medium" %>  
  </div>

</div>
  