<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive = 'active' %>
<% else %>
  <% isActive = '' %>
<% end %>


<div class="flex items-center gap-3 p-3 content-center hover:text-blue-700 transition duration-500 <%= isActive %> ">
  <div class="ml-3">
    <% if user.avatar.attached? %>
      <%= link_to image_tag(user.chat_avatar, 
                            class: "w-8 h-8 rounded-full"), user %>
    <% else %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>
  
  <div class="text-xl">
    <%= link_to format_user_name(user), user_path(user, tab_type: 'single_chat'), data: {turbo: "false"},class: "text-xl font-medium" %>  
  </div>


<% if @single_chat %>
<% room_id = @single_chat.find { |room| room.participants.any? { |participant| participant.user_id == user.id } }&.id %>
<% end %>

 <% if @single_unread_counts && room_id %>
      
      <% unread_count = @single_unread_counts[room_id] || 0 %>
      <% if unread_count > 0 %>
        <span class="unread-count bg-red-500 rounded-full w-6 text-center text-base mr-3 text-white"><%= unread_count %></span>
      <% end %>
    <% end %>

</div>