<div id="user-list" class="w-2/12 ">
        <h4 class= "text-2xl text-center p-3"> <%= t('rooms.contacts') %> </h4>
    <%= turbo_stream_from "users" %>
    <div id="users" class="p-0">
      <%= render @users %>
    </div>
  </div>