<%= link_to  "", new_event_path, data:{turbo_frame: "modal"} %>

<div data-controller="calendar"
     class="w-full lg:w-2/3 mx-auto" id="calendar">
</div>

<div id="event">
    <%= render partial: 'listed', locals:{events: @events} %>
</div>
