<%= link_to  '新增事件', new_event_path %>


    <% @events.each do |event| %>
    <div>
        <%# 因為我行事曆要使用hash，已經有轉好了，這邊顯示先用這個方式 %>
        <%= link_to  event[:title] , event_path(event[:id]) %>
    </div>
    <% end %>




<div data-controller="calendar" 
     data-modal-target="crud-modal" 
     data-modal-toggle="crud-modal"
     class="w-full lg:w-2/3 mx-auto">

</div>
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class=" dark:border-gray-600">
                <div class="flex justify-center center pt-7 text-lg font-semibold text-gray-900 dark:text-white">
                    新增事件
                </div>
                <%= render 'form', event: @event%>
        </div>
    </div>
</div> 
