<div data-controller="event" data-company="<%= current_company&.id %>"
     data-locale="<%= locale_full_calendar %>"
     data-new-event-url="<%= new_event_path %>"
     class="w-full lg:w-2/3 mx-auto" id="event">
</div>