<turbo-stream action="replace" target="calendar">
    <template>
        <div data-controller="calendar"
            class="w-full lg:w-2/3 mx-auto" id="calendar">
        </div>
    </template>
</turbo-stream>

<turbo-stream action="update" target="event">
    <template>
        <%= render partial: 'listed', locals:{events: current_user.events.all } %>
    </template>
</turbo-stream>