<div id="calendar"
  data-controller="ccc"
  data-ccc-target="calendar" 
  data-events="<%= events %>"
  data-new-event-url="<%= new_event_project_path %>"
  data-originalUrl="<%= request.original_url %>"
  data-edit-task-url="<%= task_path %>"
>
</div>
