<div id="calendar"
  data-controller="calendar"
  data-calendar-target="calendar" 
  data-tasks="<%= tasks %>"
  data-new-task-url="<%= new_task_project_path(@project) %>"
  data-item="tasks"
>
</div>
