<!-- 暫換button 位置 -->
<aside class="relative">
  <!-- drawer init and toggle -->
  <div class="fixed w-4 h-full shadow-md bg-gray-50 shadow-gray-400"></div>
  <div>
    <button type="button" 
            data-drawer-target="drawer"
            aria-controls="drawer"
            data-drawer-show="drawer"
            class="fixed w-6 h-6 rounded-full shadow-md bg-gray-50 shadow-gray-400 top-16 left-1">
      <i class="text-gray-600 fa-solid fa-angle-right"></i>
    </button>
  </div>
</aside>