<div class="max-w-screen-lg p-6 m-auto">
  <div class="pb-6">
    <%= render partial: 'head', locals: {project: @project} %>
  </div>
  <%= render partial: 'calendar', locals: { tasks: @tasks } %>
</div>