<%= render 'drawer', projects: @user_projects %>
<%= render 'sidebar' %>
<main id="project-main">
  <div class="flex flex-col py-4 pl-12 pr-6 m-auto" style="height: calc(100vh - 6rem)">
    <div class="flex-none pb-6 pl-2">
      <%= render partial: 'head', locals: {project: @project} %>
    </div>
    <div class="flex-1 h-full pl-2">
      <%= render partial: 'calendar', locals: { tasks: @tasks } %>
    </div>
  </div>
</main>