<div class="flex justify-between items-center gap-3 ml-5 content-center hover:text-blue-700 transition duration-500 text-2xl">
  <%= link_to room.name, room_path(room, tab_type: 'group_chat'), class: "p-3 b-2" %>

	<% if room.private_room? && @unread_counts %>
    <% unread_count = @unread_counts[room.id] || 0 %>
    <% if unread_count > 0 %>
      <span class="unread-count bg-red-400 rounded-full w-6 text-center text-base mr-3"><%= unread_count %></span>
    <% end %>
  <% end %>
</div>
