<h1 class="text-3xl">Start to Chat</h1>

<ul>
<%@rooms.each do |room|%>
<li><%=link_to room.name, room_path(room)%></li>
<%end%>
</ul>


<div>
<%= link_to "Create a Chat Room", new_room_path, class: "text-xl" %> 
</div>