<%= turbo_frame_tag "modal", class: "modal-backdrop hidden" do %>
  <div class="modal">
    <h1>創建聊天室</h1>
    <% if @modal_type == "public" %>
      <%= render "shared/new_room_modal" ,new_room:@new_room %>
    <% elsif @modal_type == "private" %>
      <%= render "shared/new_group_modal" ,new_room:@new_room %>
    <% end %>  
  </div>
<% end %>