@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "@simonwep/pickr/dist/themes/nano.min.css";
@import "./github.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.body:not(.font-bevan) {
  font-family: "Noto Sans TC", sans-serif;
}

.font-bevan {
  font-family: "Bevan", serif;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

.form-text {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
}
.form-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.form-toggle-layer-1 {
  @apply relative inline-flex items-center mb-5 cursor-pointer;
}

.form-toggle-layer-3 {
  @apply text-sm font-medium text-gray-900 ms-3 dark:text-gray-300;
}

.form-btn {
  @apply inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.msg-form {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  z-index: 1000;
  padding: 10px;
}

#messages {
  padding-bottom: 100px;
}

#left-side,
#room_container,
#user-list {
  margin: 0;
  padding: 0;
}

nav.pagination {
  @apply flex items-center justify-center;
}

nav.pagination {
  & > span {
    @apply px-2 mx-1 border rounded-lg border-blue-400 bg-blue-400 text-white hover:bg-blue-500 cursor-pointer;
  }
  & .current {
    @apply bg-blue-600 text-white;
  }
}
